{{# 
    @name Portfolio Entry Preview
    @desc Creates a preview of a portfolio entry.
    @param entry The portfolio entry to preview.
#}}

<a
	class="item transition-all"
	href="{{ entry:url }}"
>
	<div
		class="image-box"
		style="background-image: url({{ entry:icon }})"
	></div>
	<div class="text-box">
		<h4 class="title font-bold">
			{{ entry:title }}
		</h4>
	</div>
</a>

{{ push:styles }}
<style>
	.item {
		width: 27%;
		margin: 3%;
	
		text-decoration: none;
		color: var(--color-tan-primary)
	}

	.image-box {
		--ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);

		padding-top: 100%;

		background-color: var(--color-tan-secondary);
		background-size: contain;
		border-radius: 6px;

		transition: 0.3s var(--ease-bounce);
		box-shadow: 0 3px 6px var(--color-tan-tertiary);
	}
	.item:hover .image-box {
		transform: translateY(-6px) scale(1.03);

		box-shadow: 0 6px 9px var(--color-tan-tertiary);
	}

	.text-box {
		margin-top: 6px;
		text-align: center;
	}

	.title {
		font-size: 1.25rem;
		line-height: 1.5rem;

		transition: 0.15s;
	}

	.item.small .title {
		font-size: 1rem;
	}

	@media only screen and (max-width: 1000px) {
		#gallery-box {
			justify-content: center;
		}

		.title {
			font-size: 1rem;
		}
	}

	@media only screen and (max-width: 650px) {
		#gallery-box {
			width: 90%;
			margin: auto;
		}

		.item {
			width: 170px;
		}
	}
</style>
{{ /push:styles }}