{{ partial:layout/main }}
    <nav class="mb-6">
        <a href="/blog" class="text-tan-primary font-bold">&larr; Back to Blog</a>
    </nav>

    <div class="mb-8">
        <h1
            class="mb-4 text-3xl font-[900] sm:text-4xl md:text-5xl"
        >
            {{ title }}
        </h1>
        <p class="italic">{{ date }}</p>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <nav class="mt-6">
        <a href="/blog" class="text-tan-primary font-bold">&larr; Back to Blog</a>
    </nav>
{{ /partial:layout/main }}