@import "tailwindcss";
@import "./peak.css";
@import "./typography.css";

@theme {
    --color-primary: var(--color-tan-primary);

    --color-neutral: var(--color-slate-800);
    --color-neutral-50: var(--color-slate-50);
    --color-neutral-100: var(--color-slate-100);
    --color-neutral-200: var(--color-slate-200);
    --color-neutral-300: var(--color-slate-300);
    --color-neutral-400: var(--color-slate-400);
    --color-neutral-500: var(--color-slate-500);
    --color-neutral-600: var(--color-slate-600);
    --color-neutral-700: var(--color-slate-700);
    --color-neutral-800: var(--color-slate-800);
    --color-neutral-900: var(--color-slate-900);
    --color-neutral-950: var(--color-slate-950);

    --color-tan-primary: #534935;
    --color-tan-secondary: #d3c7b6;
    --color-tan-tertiary: #eee7dd;
    --color-tan-bg: #f6f3ee;

    --font-sans:
        Nunito, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-weight-*: initial;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* Gallery theme */
    --gallery-shadow: 0 3px 9px var(--color-tan-tertiary);
}

@utility main-text-gradient {
    --color-grd-red: rgba(99, 39, 28, 1) 0%;
    --color-grd-orange: rgba(200, 132, 71, 1) 35%;
    --color-grd-yellow: rgba(255, 237, 0, 1) 100%;

    background-image: linear-gradient(
        358deg,
        var(--color-grd-red) 0%,
        var(--color-grd-orange) 35%,
        var(--color-grd-yellow) 100%
    );
}

@layer base {
    html {
        color: var(--color-neutral);
        font-family: var(--font-sans);
    }
}

@utility page-heading {
    @apply text-tan-primary text-5xl font-black;
}

@utility section-heading {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

@utility section-subheading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

@utility gallery-picture {
    @apply h-full w-full rounded-xl bg-cover bg-center object-cover object-center;
    box-shadow: var(--gallery-shadow);
}

@utility content {
    > h2 {
        @apply mt-8 mb-4 text-4xl font-black;
    }

    > h3 {
        @apply section-subheading;
    }

    > p {
        @apply mb-2;
    }

    & a {
        @apply font-bold underline;

        &:hover {
            @apply brightness-150;
        }
    }

    > ul {
        @apply ml-4 list-disc;

        > li {
            @apply mb-1;
        }
    }

    > blockquote {
        @apply bg-tan-tertiary before:bg-tan-primary mb-4 grid grid-cols-[14px_1fr] overflow-hidden rounded-md p-2 font-bold before:mr-2 before:rounded-sm;
    }
}

@utility content--article {
    > h2 {
        @apply text-3xl;
    }

    > h3 {
        @apply mt-6 mb-2 text-xl;
    }

    > p {
        @apply mb-2;
    }

    & a {
        @apply font-bold underline;

        &:hover {
            @apply brightness-150;
        }
    }

    > ul {
        @apply ml-4 list-disc;

        > li {
            @apply mb-1;
        }
    }

    > blockquote {
        @apply bg-tan-tertiary before:bg-tan-primary mb-4 grid grid-cols-[14px_1fr] overflow-hidden rounded-md p-2 font-bold before:mr-2 before:rounded-sm;
    }
}
